{
  "env": {
    "browser": true
  },
  "extends": "standard",
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "globals": {
    "__MIDI__": false
  }
}